<html>

<head>
    <title>Home!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond&family=Encode+Sans+SC:wght@200&display=swap"
        rel="stylesheet">
    <style>
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://i.pinimg.com/originals/f6/77/7c/f6777c575157c56743a7b400df585e59.gif');
            background-position: center;
            background-color: #270f2f;
            height: 100%; 
            

            }
    </style>



</head>

<body>
    <div class="nav-bar">
        <ul>
            <li id="title"><i>F I N E X P L O R E</i></a></li>
            <li style="float:right"><a href="about.html">About</a></li>
            <li style="float:right"><a href="info.html">Information</a></li>
            <li style="float:right"><a href="timeline.html">Timeline</a></li>
            <li style="float:right"><a href="smart.html">Goals</a></li>
            <li style="float:right"><a class="active" href="index.html">Home</a></li>
        </ul>
    </div>


    <div class="middle-pic">
        <!-- <img src="https://cdn.dribbble.com/users/959854/screenshots/2443185/treasureloop.gif"> -->

    </div>

    <div class="footer">

    </div>
</body>

</html>