<html>
    <head>
        <title>Profile!</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond&family=Encode+Sans+SC:wght@200&display=swap" rel="stylesheet">




    </head>
    <body>
        <h1>Hello world!</h1>
        <p>We can build a full webpage here</p>
        <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
